<app-navigation></app-navigation>
<div class="w-10/12 mt-24 mx-auto">
  <div
    class="w-1/2 mx-auto bg-violet-950 py-12 bg-opacity-50 rounded-xl shadow-2xl flex flex-col gap-8 items-center text-white"
  >
    <h1 class="text-3xl">Contact Me</h1>
    <p class="text-lg max-w-prose text-center">
      You can reach out to me via my links below or go directly to my
      <a
        href="https://pkaczmarski.netlify.app/"
        class="text-pink-300 hover:text-pink-500"
        target="_blank"
        >portfolio</a
      >
      should you be interested in more of my work.
    </p>
    <ul class="flex gap-24 mt-8" role="list">
      <li
        class="flex flex-col items-center hover:scale-105 hover:cursor-pointer group"
      >
        <img src="/assets/images/linkedin.png" class="w-24 aspect-square" />
        <span class="font-semibold mt-1 group-hover:text-pink-300"
          >LinkedIn</span
        >
      </li>
      <li
        class="flex flex-col items-center hover:scale-105 hover:cursor-pointer group"
      >
        <img src="/assets/images/github.png" class="w-24 aspect-square" />
        <span class="font-semibold mt-1 group-hover:text-pink-300">Github</span>
      </li>
    </ul>
  </div>
</div>
