<div class="h-full flex flex-col">
  <app-navigation></app-navigation>

  <div class="w-10/12 mx-auto my-24 flex-1 flex flex-col">
    <app-search (wallsEmitter)="onWallsEmitted($event)"></app-search>
    <div
      class="w-full flex-1 text-white text-center flex justify-center items-center"
    >
      <div *ngIf="!images.length">
        <h1 class="text-xl font-semibold">
          Use the search tool above for wallpapers to appear here.
        </h1>
      </div>

      <div *ngIf="images.length">
        <div class="flex flex-wrap w-full gap-3 mt-5">
          <div *ngFor="let image of images" tabindex="0" class="img-wrapper">
            <img [src]="api + '/' + image.path" alt="Image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
