<app-navigation></app-navigation>

<div class="w-10/12 my-12 mx-auto">
  <div class="text-white text-center text-lg">
    <h1 class="text-3xl font-semibold">Welcome to WallArchives!</h1>
    <p class="mt-4">
      WallArchives is a website created to archive many different wallpapers,
      feel free to create an account and add yours.
    </p>
    <p>
      Below are some of the most recent added wallpapers, use the explore tool
      to search the site for others.
    </p>
  </div>
  <div class="flex flex-wrap w-full gap-3 mt-24">
    <div *ngFor="let image of images" tabindex="0" class="img-wrapper">
      <img [src]="api + '/' + image.path" alt="Image" />
    </div>
  </div>
</div>
