<app-navigation></app-navigation>

<div class="flex flex-col h-full w-full">
  <div
    class="w-full flex-1 mx-auto flex flex-col items-center bg-violet-950 bg-opacity-20"
  >
    <div class="banner | w-full h-1/6 flex items-center">
      <div class="w-10/12 h-full mx-auto relative">
        <div
          class="w-40 h-40 bg-black rounded-full absolute bottom-0 translate-y-1/2"
        ></div>
      </div>
    </div>
    <div class="w-full flex-1">
      <div class="w-10/12 h-full mx-auto flex">
        <div class="w-40 h-full bg-gray-900 text-white text-center">
          <div class="h-20 w-40"></div>
          <h1 class="text-xl mt-5 capitalize font-semibold">
            {{ user.username || "Username" }}
          </h1>
          <div class="controls">
            <ul
              role="list"
              class="flex flex-col gap-5 mt-12 capitalize text-gray-300"
            >
              <app-profile-control
                *ngFor="let control of controls; index as i"
                [index]="i"
                [value]="control.name"
                [state]="control.state"
                (controlClicked)="controlClicked($event)"
              ></app-profile-control>
            </ul>
          </div>
        </div>
        <div class="h-full flex-1 flex text-white p-12">
          <div *ngIf="currentControl == 'info'" class="gap-5 md:flex">
            <div>
              <span class="font-bold">Date created:</span> {{ user.date }}
            </div>
            <div><span class="font-bold">Email:</span> {{ user.email }}</div>
            <div><span class="font-bold">User id:</span> {{ user.uid }}</div>
          </div>
          <div *ngIf="currentControl == 'wall'" class="text-center">
            <h1 class="text-white text-2xl">Nothing to see here yet</h1>
            <a class="text-gray-300 underline mt-2" href="javascript:void();"
              >Add your first wallpaper!</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
