<div class="p-1">
  <form action="#" method="get" class="flex gap-4">
    <div
      class="flex gap-4 justify-center items-center bg-violet-800 rounded m-auto w-1/2"
    >
      <input
        id="search"
        type="text"
        name="search"
        [(ngModel)]="search"
        (keydown.enter)="onKeydown($event)"
        placeholder="Search..."
        class="w-full p-2 text-white bg-transparent shadow-lg bg-opacity-50"
        required
      />
      <div class="vertical-separator"></div>
      <span
        class="material-symbols-outlined text-white pr-3 hover:cursor-pointer"
      >
        search
      </span>
    </div>
  </form>
</div>
