<div class="p-1">
  <form action="#" method="get" class="flex gap-4">
    <div
      class="flex gap-4 justify-center items-center bg-violet-800 rounded m-auto w-1/2"
    >
      <input
        type="text"
        [name]="search"
        (keydown.enter)="onKeydown($event)"
        id="search"
        placeholder="Search..."
        class="w-full p-2 text-white bg-transparent shadow-lg bg-opacity-50"
      />
      <div class="vertical-separator"></div>
      <span
        class="material-symbols-outlined text-white pr-3 hover:cursor-pointer"
      >
        search
      </span>
    </div>
    <span class="material-symbols-outlined"> filter_alt </span>
  </form>
</div>
