<header class="flex w-10/12 mx-auto py-6 text-white">
  <a href="#" class="mr-24 py-3 text-lg font-bold" routerLink="/"
    >WallArchives</a
  >
  <nav class="flex w-full justify-between">
    <ul class="flex gap-12 py-3" role="list">
      <li class="hover:cursor-pointer" routerLink="/explore">Explore</li>
      <li class="hover:cursor-pointer" routerLink="/about">About</li>
      <li class="hover:cursor-pointer" routerLink="/contact">Contact</li>
    </ul>
    <ul class="flex gap-12 pl-12" role="list">
      <ng-template [ngIf]="isLoggedIn">
        <li class="hover:cursor-pointer">
          <button
            routerLink="/profile"
            class="flex justify-center items-center bg-blue-500 hover:bg-blue-900 font-bold py-3 px-6 rounded-lg"
          >
            <span class="material-symbols-outlined mr-1"> person </span> Profile
          </button>
        </li>
        <li class="hover:cursor-pointer">
          <button
            (click)="logout()"
            class="flex justify-center items-center bg-blue-500 hover:bg-blue-900 font-bold py-3 px-6 rounded-lg"
          >
            <span class="material-symbols-outlined mr-1"> logout </span>
            Sign out
          </button>
        </li>
      </ng-template>
      <ng-template [ngIf]="!isLoggedIn">
        <li class="hover:cursor-pointer">
          <button
            routerLink="/sign-in"
            class="flex justify-center items-center bg-gray-500 hover:bg-gray-700 font-bold py-3 px-6 rounded-lg"
          >
            <span class="material-symbols-outlined mr-1"> login </span>
            Sign in
          </button>
        </li>
        <li class="hover:cursor-pointer">
          <button
            routerLink="/sign-up"
            class="flex justify-center items-center bg-blue-500 hover:bg-blue-900 font-bold py-3 px-6 rounded-lg"
          >
            <span class="material-symbols-outlined mr-1"> stylus </span>
            Sign up
          </button>
        </li>
      </ng-template>
    </ul>
  </nav>
</header>
