<header class="flex w-11/12 mx-auto py-6 text-white">
  <a href="#" class="mr-24 py-3 text-lg font-bold" routerLink="/"
    >WallArchives</a
  >
  <nav class="flex w-full justify-between">
    <ul class="flex gap-12 py-3" role="list">
      <li class="hover:cursor-pointer">Explore</li>
      <li class="hover:cursor-pointer">About</li>
      <li class="hover:cursor-pointer">Contact</li>
    </ul>
    <app-search class="grow"></app-search>
    <ul class="flex gap-12 pl-12" role="list">
      <ng-template [ngIf]="isLoggedIn">
        <li class="hover:cursor-pointer">
          <button
            routerLink="/profile"
            class="flex justify-center items-center bg-blue-500 hover:bg-blue-900 font-bold py-3 px-6 rounded-lg"
          >
            <i class="fa fa-user mr-2" aria-hidden="true"></i> Profile
          </button>
        </li>
        <li class="hover:cursor-pointer">
          <button
            (click)="logout()"
            class="flex justify-center items-center bg-blue-500 hover:bg-blue-900 font-bold py-3 px-6 rounded-lg"
          >
            <i class="fa fa-sign-out mr-2" aria-hidden="true"></i> Sign out
          </button>
        </li>
      </ng-template>
      <ng-template [ngIf]="!isLoggedIn">
        <li class="hover:cursor-pointer">
          <button
            routerLink="/sign-in"
            class="flex justify-center items-center bg-gray-500 hover:bg-gray-700 font-bold py-3 px-6 rounded-lg"
          >
            <i class="fa fa-pencil mr-2" aria-hidden="true"></i> Sign in
          </button>
        </li>
        <li class="hover:cursor-pointer">
          <button
            routerLink="/sign-up"
            class="flex justify-center items-center bg-blue-500 hover:bg-blue-900 font-bold py-3 px-6 rounded-lg"
          >
            <i class="fa fa-sign-in mr-2" aria-hidden="true"></i> Sign up
          </button>
        </li>
      </ng-template>
    </ul>
  </nav>
</header>
